section {
    display: flex;
    flex-direction: column;
    position: relative;

    width: 240px;
    background-color: #2b2d31;
}

/* Hide the scrollbar for webkit browsers */

.section-middle::-webkit-scrollbar {
    display: none;  
}


/* Section Top CSS*/

.section-top {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    padding: 0 12px 0 12px;

    background: linear-gradient(to bottom, rgb(134, 134, 134), transparent);
    transition: background-color 0.15s, border-bottom 0.55s ease-in-out;
    height: 48px;
    width: 216px;

    border-bottom:  none;
    scrollbar-gutter: stable;
    z-index: 59;
}

.section-top img {
    width: 16px;
    margin-left: 4px;
    margin-right: 8px;
}

.section-top p {
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.596);
}

.server-name {
    display: inline-block;
    flex: 1;
    color: #d9dcdf;
    font-family: "Inter";
    font-size: 15px;
    font-weight: 600;
}

.sec-top-arrow {
    display: inline-block;
    color: #d9dcdf;
    font-size: 25px;
    font-family: "inter";

    margin: 0 -5px 4px 0;

    transform: rotate(180deg);
    transform-origin: center;
}

/* Section Middle CSS*/

.section-middle {
    display: flex;
    flex-direction: column;
    position: relative;

    flex: 1;
    overflow-y: scroll;
    padding-bottom: 14px;
}

.html-banner-image {
    position: absolute;
    top: 0;
}

.html-banner-video {
    position: absolute;
    top: 0;
    opacity: 0;
}

.topmost-channel-box {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 224px;

    color: #848b93;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14.5px;
    border-radius: 5px;

    margin: 144px 11px 0 8px;
    padding: 6px 0 6px 0;
}

.topmost-channel-box svg {
    margin: 1px 6px 0 8px;
}

.channel-box {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 224px;

    color: #848b93;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14.5px;
    border-radius: 5px;

    margin: 2px 11px 0 8px;
    padding: 6px 0 6px 0; 
}

.channel-box-text {
    flex: 1;
}

.active-channel-box-text {
    color: #ffffffe1;
    flex: 1;
}

.selected-channel-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;


    width: 224px;
    height: 32px;
    background-color: #404249;

    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14.5px;
    border-radius: 4.5px;

    margin: 2px 11px 0 8px;
    padding: 6px 0 6px 0; 
}

.selected-channel-box svg {
    opacity: 1;
}

.channel-box-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px 0 8px;
}

.invite-to-server-icon {
    opacity: 0;
    margin-right: 8px;
}

.open-chat-icon {
    opacity: 0;
    margin-right: 5px;
}

.channel-seperator {
    margin: -4px 0 0 0;
    text-align: center;
    color: #404249;
    pointer-events: none;
}

.category-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    margin-top: 20px;
}

.category-arrow {
    width: 12px;
    height: 12px;

    font-family: Ubuntu;
    font-size: 12px;
    color: #72787f;

    margin-left: 1px;
    margin-right: 3px;

    transform: rotate(180deg);
    transform-origin: center;
}

.category-text {
    flex: 1;

    font-family: Ubuntu;
    font-size: 12px;
    font-weight: 600;
    color: #72787f;

}

.active-channel-status {
    position: absolute;
    pointer-events: none;

    background-color: #ffffffe1;

    width: 8px;
    height: 8px;
    border-radius: 3.2px;

    align-items: center;
    left: -4px;
}

.two-new {
    position: absolute;
    text-align: center;
    right: 8px;

    font-size: 11px;
    font-family: "Inter", sans-serif;
    color: #9098ef;
    font-weight: 600;
    opacity: 1;
}

.joined-vc-users {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 32px;
    background-color: #313338;
    font-size: 11px;
    font-family: "Inter", sans-serif;
    width: 24px;
    height: 18px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: 1;
}

.maximum-vc-users {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
    background-color: #1e1f22;
    font-size: 11px;
    font-family: "Inter", sans-serif;
    width: 24px;
    height: 18px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 1;
}

/* Section Bottom CSS*/

.section-bottom {
    display: flex;
    position: relative;
    
    background-color: #232428;
    height: 53px;
    z-index: 99;
    overflow: hidden;
}

.profile-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    position:relative;
    border-radius: 5px;

    width: 120px;
    height: 41px;
    padding-left: 2px;
    margin: 5px 5px 0 6px;
    overflow: hidden;
}

.current-user-profile {
    width: 32px;
    height: 32px;
}

.evugaming-profile-logo {
    width: 32px;
    height: 32px;

    margin: 0;
    border-radius: 16px;
}

.do-not-disturb-icon {
    position: absolute;
    width: 10.5px;
    height: 10px;
    bottom: 2px;
    right: 84px;
    border-radius: 8px;
    border: 3px solid #24262c;
}

.current-user-menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    width: 76px;
    height: 31px;
    padding: 4px 0 4px 8px;
    margin-right: 4px;
    margin-top: 2px;
}

.current-user-name {
    flex: 1;
    
    font-family: roboto;
    color: rgba(255, 255, 255, 0.925);
    font-weight: 400;
    font-size: 13.5px;
}

.current-user-status {
    flex: 1;

    font-family: Arial;
    font-size: 11.2px;
    color: #9fa3a8;
}

.vc-buttons-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    position: relative;
    align-items: center;

    margin: 0 0 2px 3px;
}

.vc-button-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 30px;
    width: 30px;
    border-radius: 4px;

    transition: background-color 0.15s ease-in-out;
}

.vc-button-box img {
    height: 20px;
    width: 20px;
}